In [2]:
import pandas as pd

# Defining files
pvfile = "ninja-pv-country-IE-national-merra2.csv"
windfile = "ninja-wind-country-IE-current_total-merra2.csv"
demandfile = "ninja-demand-country-IE-CDD-merra2"

# Wind data

In [11]:
df_wind = pd.read_csv(windfile, comment='#')    # load csv file
header = df_wind.iloc[2]                        # This row is the correct header
df_wind = df_wind[3:]                           # Actual data starts at row 3
df_wind.columns = header                        # Set header
df_wind.head()                                  # Preview

C:\Users\Anders Eriksen\AppData\Local\Temp\ipykernel_22904\771290232.py:1: DtypeWarning: Columns (1,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_wind = pd.read_csv(windfile, comment='#')    # load csv file

2                       time  NATIONAL      IE04      IE05      IE06
3  1980-01-01 00:00:00+00:00  0.145697  0.056425  0.224918  0.042835
4  1980-01-01 01:00:00+00:00  0.123021  0.056173  0.183623  0.036232
5  1980-01-01 02:00:00+00:00  0.130715   0.06331  0.193063  0.033727
6  1980-01-01 03:00:00+00:00  0.155831   0.07955  0.226728   0.04349
7  1980-01-01 04:00:00+00:00  0.166779  0.094294  0.233887  0.062013